#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}



/*  MAIL CARD */

.mail-container{
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid grey;
  margin-bottom: 1px;
  color: inherit;
  text-decoration: inherit;

}

.mail-container:hover{
  font-weight: 550;
  background-color: aliceblue;
}